.title {
    font-family: 'Montserrat-Bold';
    color: purple;
}

.header-background {
    background-color: lightgray;
}

.title:hover {
    color: purple;
    text-decoration: none;
}

#timeIndicator, #timeLabel {
    font-family: 'Montserrat-Medium';
    color: black;
}

.quiz-description {
    font-family: 'Montserrat-Bold';
    color: black;
}

.test {
    background-color: red;
}

.generate-bttn {
    background-color: purple;
    color: white;
}

.header-font {
    font-family: 'Montserrat-Black';
    font-size: 2.0em;
}